<?php

declare(strict_types=1);

namespace {{t_namespace}};

class {{t_class_name}}
{
{{t_attributes}}

    public function __construct({{t_constructor_parameters}})
    {
{{t_constructor_initialization}}
    }

{{t_getters}}
}