<?php

declare(strict_types=1);

namespace {{t_namespace}};

final class {{t_class_name}}
{
    public function __construct()
    {
        // TODO: Inject repositories or other services here
    }

    public function __invoke(): void
    {
        // TODO: Implement use case here
    }
}
